<form #userForm="ngForm">
  <div class="form-group">
    <label> Name </label>
    <input required type="text"
      [class.is-invalid]="name.invalid && name.touched"
      #name="ngModel" 
      class="form-control" 
      [(ngModel)]="userModel.name" 
      name="name"
     >
    <div class="text-danger" 
      *ngIf="name.invalid && name.touched"
    >
      name is required
    </div>
  </div>

  <div class="form-group">
    <label> phone </label>
    <input required type="tel"
      #phone="ngModel"
      class="form-control"
      pattern="^\d{11}$"
      [class.is-invalid]="phone.invalid && phone.touched" 
      [(ngModel)]="userModel.phone" 
      name="phone"
    >
    <div class="text-danger" *ngIf="phone.errors && (phone.invalid || phone.touched)">
      <small *ngIf="phone.errors.required"> phone field is required</small>
      <small *ngIf="phone.erros.pattern"> phone field must be 10 digit</small>
    </div>
  </div>

  <div class="form-group">
    <label for="email"> E-mail </label>
    <input type="email" class="form-control"
      [(ngModel)]="userModel.email" name="email">
  </div>

  <div class="form-group">
    <label> Interested in </label>
    <select class="custom-select">
      <option selected>
        Iam interested in
      </option>
      <option *ngFor="let topic of topics">{{topic}}</option>
    </select>
  </div>

  <div class="mb-3">
    <label> Time preference </label>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="userModel.time" name="time" type="radio" value="morning">
      <label>morning (10:00 - 12:00)</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="userModel.time" name="time" type="radio" value="evening">
      <label>evening (6:00 - 8:00)</label>
    </div>  
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" id="offer" type="checkbox" [(ngModel)]="userModel.subscribe">
    <label class="form-check-label">Send me promotional offer</label>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">
      submit
    </button>
  </div>
</form>